.airContainer{
     font-family: "Noto Sans", sans-serif;
     height: 17rem;
     width: 45vw;
     margin: 1rem;
     padding: 1rem;
     
     box-shadow: 10px 10px 10px lightblue;
}
.subtitle{
     display: flex;
     justify-content: space-between;
}
progress {
     accent-color: coral;
   }
   .img{
     height: 10rem;
     width: 10rem;
   }
   .about{
     display: flex;
     justify-content:  space-between;
   }
   .info{
     
     display: flex;
   }